@import 'tailwindcss';
@import '@repo/ui/styles/default.css';
@plugin "tailwindcss-animate";
/**
 * Tailwind CSS official document:
 * https://tailwindcss.com/docs/detecting-classes-in-source-files
 *
 * if you ever need to explicitly add a source that's excluded by default, 
 * you can always add it with the @source directive.
 */
@source '../../node_modules/@repo/ui';

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-primary via-accent to-secondary bg-clip-text text-transparent;
  }

  .glass {
    @apply bg-white/10 backdrop-blur-sm border border-white/20 rounded-xl;
  }

  .hover-scale {
    @apply transition-transform duration-300 hover:scale-105;
  }
}

@keyframes float {
    0%, 100% {transform: translateY(0) } 
    50% {transform: translateY(-10px) }
}

@keyframes pulse-light {
  0%, 100% {opacity: 1;} 
  50% {opacity: 0.8;}
}

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2 ease-out;
  --animate-float: float 1s ease-in-out infinite; 
  --animate-pulse-light: pulse-light 2s ease-in-out infinite;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
